apispec==4.7.1
click==7.1.2
Flask==1.1.4
flask-smorest==0.30.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
marshmallow==3.23.0
packaging==24.1
python-dotenv==1.0.1
webargs==8.6.0
Werkzeug==1.0.1
